<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96250300840-757efd405ptsa3bidatgmt4kigmo4nfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96250300840-757efd405ptsa3bidatgmt4kigmo4nfj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>96250300840-97nlskp4eplntu225qamqj49ho8uj04b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQRG871SgP6CqM9vbSmd7jIjqaCHHHWAY</string>
	<key>GCM_SENDER_ID</key>
	<string>96250300840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.askfemi</string>
	<key>PROJECT_ID</key>
	<string>z3ns-4f49a</string>
	<key>STORAGE_BUCKET</key>
	<string>z3ns-4f49a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96250300840:ios:59112b5f60397699ddf59d</string>
</dict>
</plist>